@import "./reset.scss";

* {
  font-family: PingFangSC-Light !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1080px;
}

.x-droid-system-ui {
  background: rgba(46, 50, 56, 0.05);

  &__header {
    min-width: 1080px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    width: 100%;
    padding: 0 40px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  }

  &__logo {
    width: 24px;
    height: 24px;
    margin: 0 20px;
  }

  &__home {
    text-decoration: none;
    color: #536dfe;
  }

  &__link {
    text-decoration: none;
    color: #536dfe;
    position: absolute;
    right: 60px;
    vertical-align: middle;
  }
}
